*{
    margin: 0;
    padding: 0;
}
.comtainer{
    --grid-gap:10px;
    max-width: 1200px;
    margin: auto;
    padding-left: var(--grid-gap);
    padding-right: var(--grid-gap);
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(var(--grid-gap) * - 1);
    padding-right: calc(var(--grid-gap) * - 1);
}
.p{
    padding: 20px;
}

/* 隔線系統 */
[class*="col-"]{
    --grid-gap:10px;
    box-sizing: border-box;
    padding-left: var(--grid-gap);
    padding-right: var(--grid-gap);
    margin-bottom: 20px;
}
.col-1{ 
    width: 8.333333%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-2{ 
    width: 16.666666%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-3{ 
    width: 25%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-4{ 
    width: 33.333333%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-5{ 
    width: 41.666666%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-6{ 
    width: 50%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-7{ 
    width: 58.333333%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-8{ 
    width: 66.666666%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-9{ 
    width: 75%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-10{ 
    width: 83.333333%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-11{ 
    width: 91.666666%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
.col-12{ 
    width: 100%;
    /* box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; */
    }
/*  */
@media screen and (min-width: 768px){
    .col-1{ width: 8.333333%;}
    .col-2{ width: 16.666666%;}
    .col-3{ width: 25%;}
    .col-4{ width: 33.333333%;}
    .col-5{ width: 41.666666%;}
    .col-6{ width: 50%;}
    .col-7{ width: 58.333333%;}
    .col-8{ width: 66.666666%;}
    .col-9{ width: 75%;}
    .col-10{ width: 83.333333%;}
    .col-11{ width: 91.666666%;}
    .col-12{ width: 100%;}
}
@media screen and (min-width: 1024px){
    .col-1{ width: 8.333333%;}
    .col-2{ width: 16.666666%;}
    .col-3{ width: 25%;}
    .col-4{ width: 33.333333%;}
    .col-5{ width: 41.666666%;}
    .col-6{ width: 50%;}
    .col-7{ width: 58.333333%;}
    .col-8{ width: 66.666666%;}
    .col-9{ width: 75%;}
    .col-10{ width: 83.333333%;}
    .col-11{ width: 91.666666%;}
    .col-12{ width: 100%;}
}
@media screen and (min-width: 1200px){
    .col-1{ width: 8.333333%;}
    .col-2{ width: 16.666666%;}
    .col-3{ width: 25%;}
    .col-4{ width: 33.333333%;}
    .col-5{ width: 41.666666%;}
    .col-6{ width: 50%;}
    .col-7{ width: 58.333333%;}
    .col-8{ width: 66.666666%;}
    .col-9{ width: 75%;}
    .col-10{ width: 83.333333%;}
    .col-11{ width: 91.666666%;}
    .col-12{ width: 100%;}
}

